.jumbotron {
    width: 600px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

  table tr th {
    text-align: center;
  }
  .form-control {
    margin-bottom: 5px;
  }
  button {
    margin-top: 5px;
  }
  .selecionado {
    background-color: yellow;
  }
  .negrito {
    font-weight: bold;
  }