<!DOCTYPE html>
<html lang="pt" ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Telefonica</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />

    <style>
      .jumbotron {
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
      }

      table tr th {
        text-align: center;
      }
      .form-control {
        margin-bottom: 5px;
      }
      button {
        margin-top: 5px;
      }
      .selecionado {
        background-color: yellow;
      }
      .negrito {
        font-weight: bold;
      }
    </style>

    <script src="lib/angular/angular.js"></script>

    <script>
      angular.module('listaTelefonica', [])
      angular
        .module('listaTelefonica')
        .controller('listaTelefonicaController', function ($scope) {
          $scope.app = 'Lista Telefonica'
          $scope.contatos = [
            { nome: 'Pedro', telefone: '99988898', cor: 'gray' },
            { nome: 'Ana', telefone: '99964598' },
            { nome: 'Maria', telefone: '99933333', cor: 'green' }
          ]
          $scope.operadoras = [
            { nome: 'Oi', codigo: 14, categoria: 'Celular' },
            { nome: 'Tim', codigo: 15, categoria: 'Celular' },
            { nome: 'Vivo', codigo: 41, categoria: 'Celular' },
            { nome: 'GVT', codigo: 25, categoria: 'Fixo' },
            { nome: 'Embratel', codigo: 21, categoria: 'Fixo' }
          ]
          $scope.adicionarContato = function (contato) {
            $scope.contatos.push(angular.copy(contato))
            delete $scope.contato
            console.log($scope.contato)
          }
          $scope.apagarContatos = function (contatos) {
            $scope.contatos = contatos.filter(contato => {
              if (!contato.selecionado) return contato
            })
            console.log($scope.contatos)
          }
          $scope.isContatoSelecionado = function (contatos) {
            return (isContatoSelecionado = contatos.some(
              contato => contato.selecionado
            ))
          }
        })
    </script>
  </head>
  <body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
      <h3>{{app}}</h3>
      <table class="table" ng-show="contatos.length > 0">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th></th>
        </tr>
        <tr
          ng-class="{'selecionado negrito': contato.selecionado}"
          ng-repeat="contato in contatos"
        >
          <td><input type="checkbox" ng-model="contato.selecionado" /></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td ng-style="{'background-color': contato.cor}"><div></div></td>
        </tr>
      </table>

      <input
        class="form-control"
        type="text"
        ng-model="contato.nome"
        placeholder="Nome"
      />
      <input
        class="form-control"
        type="text"
        ng-model="contato.telefone"
        placeholder="Telefone"
      />
      <select
        class="form-control"
        ng-model="contato.operadora"
        ng-options="operadora.nome group by operadora.categoria for operadora in operadoras"
      >
        >
        <option value="">Selecione uma operadora</option>
      </select>
      <button
        class="btn btn-primary btn-block"
        ng-click="adicionarContato(contato)"
        ng-disabled="!contato.nome || !contato.telefone"
      >
        Adicionar Contato
      </button>
      <button
        class="btn btn-danger btn-block"
        ng-click="apagarContatos(contatos)"
        ng-show="isContatoSelecionado(contatos)"
      >
        Apagar Contato
      </button>
      <!-- {{contatos}} -->
    </div>
    <div ng-include="'footer.html'"></div>
  </body>
</html>
